@import "_settings.scss";
body {
  font-family: "游ゴシック体", YuGothic;
}
.header__logo {
  max-width: 100px;
  @include pc {
    margin-top: 45px;
    margin-left: 40px;
  }
  @include sp {
    margin-top: 27px;
    margin-left: 27px;
  }
}
.openbtn1 {
  position: fixed; /*fixedを設定して固定*/
  z-index: 999; /*最前面へ*/
  top: 0px; /*位置指定*/
  right: 0px; /*位置指定*/
  background: #ff2a2a;
  cursor: pointer;
  @include pc {
    width: 100px;
    height: 100px;
  }
  @include sp {
    width: 75px;
    height: 75px;
  }

  /*ボタン内側*/
  span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    background: #fff;
    width: 50%;
    height: 2px;
    @include pc {
      left: 25px;
      &:nth-of-type(1) {
        top: 36px;
      }
      &:nth-of-type(2) {
        top: 50px;
      }
      &:nth-of-type(3) {
        top: 64px;
      }
    }
    @include sp {
      left: 17.5px;
      &:nth-of-type(1) {
        top: 27px;
      }
      &:nth-of-type(2) {
        top: 38px;
      }
      &:nth-of-type(3) {
        top: 50px;
      }
    }
  }
}
/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
  @include pc {
    top: 50px;
    left: 25px;
  }
  @include sp {
    top: 35px;
    left: 17.5px;
  }
  transform: translateY(1px) rotate(-45deg);
  width: 50%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3) {
  @include pc {
    top: 50px;
    left: 25px;
  }
  @include sp {
    top: 37px;
    left: 17.5px;
  }
  transform: translateY(-1px) rotate(45deg);
  width: 50%;
}
#header__menu {
  position: fixed;
  z-index: 5;
  opacity: 0; /*はじめは透過0*/
  visibility: hidden;
  /*ナビの位置と形状*/
  top: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #ff2a2a;
  /*動き*/
  transition: all 0.3s;
}
#header__menu.panelactive {
  opacity: 1;
  visibility: visible;
}
.menu__items {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, -50%);
  @include pc {
    top: 110px;
  }
  @include sp {
    top: 170px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
}
.menu__list {
  list-style: none;
  text-align: center;
}
.btn a {
  border: 1px solid #ffffff;
  font-weight: bold;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  color: #ffffff;
  @include pc {
    top: 250px;
    padding: 15px 50px;
  }
  @include sp {
    width: 250px;
    top: 300px;
    padding: 15px 41px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -6px;
    right: -7px;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: -7px;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
  }
  &:hover {
    background-color: #ffffff;
    color: #ff2a2a;
  }
}
.swiper {
  border: 1px solid #ffffff !important;
  @include pc {
    position: relative;
    height: 720px;
    margin-left: 363px !important;
  }
  @include sp {
    margin-top: 18px;
    height: 300px;
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    @include pc {
      position: absolute;
    }
  }
  &::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    @include pc {
      box-shadow: 0 0 10px 15px #ffffff inset;
    }
    @include sp {
      box-shadow: 0 0 15px 15px #ffffff inset;
    }
  }
}
.main__visual-text {
  @include pc {
    position: absolute;
    z-index: 2;
    top: 380px;
    left: 135px;
    p {
      font-size: 46px;
      font-weight: bold;
      text-shadow: 0px 4px 7px white;
      opacity: 0.9;
    }
  }
  @include sp {
    margin-top: 10px;
    margin-left: 16px;
    p {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
.main__visual-btn {
  background-color: #ff0033;
  border-bottom: 5px solid #7a051c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  transition: 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.1, 1.1);
  }
  @include pc {
    margin-top: 30px;
    max-width: 479px;
    height: 67px;
  }
  @include sp {
    margin: 10px 16px 10px 0px;
  }
}
.btn1 {
  display: block;
  position: relative;
  color: white;
  font-size: 24px;
  transition: 0.3s;
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    @include pc {
      right: -80px;
    }
    @include sp {
      right: -50px;
    }
  }
}

.reason__wrapper {
  @include pc {
    margin-top: 120px;
  }
}
.wrapper__title {
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-align: center;
  @include pc {
    font-size: 36px;
    margin-bottom: 80px;
  }
  @include sp {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
}
.wrapper-title {
  text-align: center;
}
.wrapper__title::before {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: -15px; /*下線の上下の位置*/
  left: 50%;
  width: 100px; /*下線の幅*/
  height: 3px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置の調整*/
  background-color: #333333; /*下線の色*/
}
.reason__box {
  background-color: #ff2a2a;
  @include pc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 600px;
  }
  @include sp {
    padding: 40px 0px;
  }
}
.reason__list1,
.reason__list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 0;
  transition: 0.5s;
  @include pc {
    height: 200px;
    width: 50%;
  }
  @include sp {
    height: 119px;
  }
}
.reason__list1 {
  border-radius: 0px 20px 20px 0px;
  @include pc {
    margin-top: 80px;
    transform: translateX(-50%);
  }
  @include sp {
    margin-bottom: 40px;
    margin-right: 16px;
    transform: translate(-360px);
  }
}
.reason__list2 {
  border-radius: 20px 0px 0px 20px;
  @include pc {
    margin-top: 320px;
    transform: translateX(50%);
  }
  @include sp {
    margin-left: 16px;
    transform: translate(360px);
  }
}
.reason__pic {
  height: 60px;
  margin-right: 30px;
  @include sp {
    padding-left: 20px;
  }
  img {
    height: 100%;
  }
}
.reason__text h3 {
  font-weight: bold;
  color: #ff2a2a;
  @include pc {
    font-size: 28px;
  }
  @include sp {
    font-size: 24px;
  }
}
.reason__text p {
  font-size: 18px;
  @include sp {
    padding-right: 20px;
  }
}
.fadein {
  opacity: 1; /* 表示させる */
  transform: translateX(0); /* 位置を最初の位置に戻す */
}
.voice__wrapper {
  @include pc {
    max-width: 860px;
    margin-top: 120px !important;
    margin: auto;
  }
}
.voice__box {
  @include sp {
    margin-top: 0px;
  }
}
.student,
.student1 {
  display: flex;
  transform: scale(0);
  transition: 0.5s;
  @include pc {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
  }
  @include sp {
    flex-direction: column-reverse;
  }
}
.student1 {
  @include pc {
    flex-direction: row-reverse;
  }
  @include sp {
    margin: 40px 0px;
  }
}
.student__pic {
  height: 120px;
  width: 120px;
  background-color: rgb(212, 208, 208);
  border-radius: 50%;
  @include sp {
    margin: auto;
  }
  img {
    height: 100%;
    @include sp {
      margin-bottom: 10px;
    }
  }
  p {
    text-align: center;
    font-size: 12px;
  }
}
.student__text {
  position: relative;
  display: inline-block;
  padding: 20px;
  color: #555;
  font-size: 16px;
  background: #e9f1fb;
  border-radius: 15px;
  p {
    font-size: 16px;
    letter-spacing: 1.6px;
    @include sp {
      text-align: center;
    }
  }
  @include pc {
    margin: 1.5em 1.5em 15px;
    max-width: 514px;
  }
  @include sp {
    margin: 0px 16px 30px 16px;
  }
}

.student__text :before,
.student__text2:before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  @include pc {
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border-right: 15px solid #e9f1fb;
  }
  @include sp {
    top: 100%;
    left: 45%;
    border-top: 15px solid #e9f1fb;
  }
}
.student__text1,
.student__text2 {
  position: relative;
  display: inline-block;
  padding: 20px;
  color: #555;
  font-size: 16px;
  background: #e9f1fb;
  border-radius: 15px;
  @include pc {
    margin: 1.5em 1.5em 15px;
    max-width: 514px;
  }
  @include sp {
    margin: 40px 16px 30px 16px;
  }
  p {
    font-size: 16px;
    letter-spacing: 1.6px;
    @include sp {
      text-align: center;
    }
  }
}
.student__text1:before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  @include pc {
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border-left: 15px solid #e9f1fb;
  }
  @include sp {
    top: 100%;
    left: 45%;
    border-top: 15px solid #e9f1fb;
  }
}
.inview {
  opacity: 1; /* 表示させる */
  transform: scale(1);
}
.overview__wrapper {
  background-image: url(https://code-step.com/demo/html/lp/img/bg.gif);
  background-repeat: repeat;
  animation: fall 10s linear infinite;
  @keyframes fall {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -700px 700px;
    }
  }
  @include pc {
    padding: 60px 0px;
  }
  @include sp {
    margin-top: 120px;
    padding-bottom: 30px;
    .wrapper__title {
      margin-top: 60px;
    }
  }
}
.overview__list {
  @include pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.list {
  background-color: #ffffff;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 30px;
  @include pc {
    width: 45%;
    height: 300px;
    padding: 60px 0px;
  }
  @include sp {
    margin: 0px 16px 30px 16px;
    padding: 30px;
  }
}
.list__title {
  font-weight: bold;
  margin-bottom: 15px;
  @include pc {
    font-size: 28px;
  }
  @include sp {
    font-size: 24px;
  }
}
.list__sub {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.list__text {
  @include pc {
    max-width: 280px;
    text-align: left;
    margin: auto;
  }
}
.bottom__wrapper {
  text-align: center;
  @include pc {
    margin-top: 120px;
  }
  @include sp {
    margin-top: 80px;
    padding: 0px 10px;
  }
}
.bottom__wrapper-title {
  font-weight: bold;

  @include pc {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
  @include sp {
    font-size: 24px;
    letter-spacing: 2px;
  }
}
.bottom__wrapper-text {
  margin-bottom: 40px;
  @include pc {
    font-size: 18px;
  }
  @include sp {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}
.bottom__wrapper-btn {
  font-weight: bold;
  margin: auto;
  @include pc {
    max-width: 860px;
    font-size: 28px;
  }
  @include sp {
    max-width: 100%;
    font-size: 28px;
  }
}
.bottom__wrapper__btn {
  text-decoration: none;
  color: #fffffc;
  background-color: #ff2a2a;
  border-radius: 40px;
  transition: 0.2s;
  @include pc {
    padding: 25px 293px;
  }
  @include sp {
    padding: 15px 54px;
  }
  &:hover {
    font-weight: bold;
    border: 3px solid #ff2a2a;
    color: #ff2a2a;
    background-color: #fffffc;
  }
}
.footer {
  background-color: #e8e8e8;
  @include pc {
    margin-top: 120px;
  }
  @include sp {
    margin-top: 80px;
  }
}
.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 0px;
  @include sp {
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 60px 16px;
  }
}
.footer__list-title {
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
  @include pc {
    font-size: 16px;
  }
  @include sp {
    font-size: 15px;
  }
}
.footer__list-item {
  @include pc {
    margin-right: 50px;
  }
  @include sp {
    width: 50%;
  }
  li {
    margin-bottom: 3px;
    padding-left: 10px;
    @include pc {
      font-size: 14px;
    }
    @include sp {
      font-size: 12px;
    }
  }
}
.footer__logo {
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
