@import "_settings.scss";
body {
  font-family: "游ゴシック体", YuGothic;
}
.header__logo {
  max-width: 100px;
  margin-top: 50px;
  margin-left: 40px;
}
.openbtn1 {
  position: fixed; /*fixedを設定して固定*/
  z-index: 999; /*最前面へ*/
  top: 0px; /*位置指定*/
  right: 0px; /*位置指定*/
  background: #ff2a2a;
  cursor: pointer;
  width: 100px;
  height: 100px;
  /*ボタン内側*/
  span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    left: 25px;
    height: 2px;
    background: #fff;
    width: 50%;
    &:nth-of-type(1) {
      top: 36px;
    }
    &:nth-of-type(2) {
      top: 50px;
    }
    &:nth-of-type(3) {
      top: 64px;
    }
  }
}
/*activeクラスが付与されると線が回転して×に*/

.openbtn1.active span:nth-of-type(1) {
  top: 25px;
  left: 25px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}

.openbtn1.active span:nth-of-type(3) {
  top: 64px;
  left: 25px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
.header__menu {
  display: none;
}
.main__visual {
  height: 720px;
  margin-left: 363px;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
  }
}
.main__visual-text {
  position: absolute;
  top: 380px;
  left: 135px;
  p {
    font-size: 46px;
    font-weight: bold;
    text-shadow: 0px 4px 7px white;
    opacity: 0.9;
  }
}
.main__visual-btn {
  margin-top: 30px;
  max-width: 479px;
  height: 67px;
  background-color: #ff0033;
  border-bottom: 10px solid #7a051c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  transition: 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
.btn1 {
  display: block;
  position: relative;
  color: white;
  font-size: 24px;
  transition: 0.3s;
  &::after {
    content: "";
    width: 16px;
    height: 16px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    position: absolute;
    top: 50%;
    right: -80px;
    transform: rotate(45deg) translateY(-50%);
  }
}

.reason__wrapper {
  margin-top: 120px;
}
.wrapper__title {
  font-size: 36px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.wrapper-title {
  text-align: center;
  margin-bottom: 80px;
}
.wrapper__title::before {
  display: inline-block;
  position: absolute;
  content: "";
  bottom: -15px; /*下線の上下の位置*/
  left: 50%;
  width: 100px; /*下線の幅*/
  height: 3px; /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%); /*位置の調整*/
  background-color: #333333; /*下線の色*/
}
.reason__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ff2a2a;
  height: 600px;
}
.reason__list1,
.reason__list2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 200px;
}
.reason__list1 {
  margin-top: 80px;
  border-radius: 0px 20px 20px 0px;
}
.reason__list2 {
  margin-top: 320px;
  border-radius: 20px 0px 0px 20px;
}
.reason__pic {
  height: 60px;
  margin-right: 30px;
  img {
    height: 100%;
  }
}
.reason__text h4 {
  font-size: 28px;
  font-weight: bold;
  color: #ff2a2a;
}
.reason__text p {
  font-size: 18px;
}
.voice__wrapper {
  margin-top: 120px;
}
.student,
.student1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.student1 {
  flex-direction: row-reverse;
}
.student__pic {
  height: 120px;
  width: 120px;
  img {
    height: 100%;
  }
}
.student__text {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 20px;
  max-width: 514px;
  color: #555;
  font-size: 16px;
  background: #e9f1fb;
  border-radius: 15px;
  p {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}
.student__text :before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}
.student__text1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 20px;
  max-width: 514px;
  color: #555;
  font-size: 16px;
  background: #e9f1fb;
  border-radius: 15px;
  p {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}
.student__text1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}
.overview__wrapper {
  background-image: url(https://code-step.com/demo/html/lp/img/bg.gif);
  background-repeat: repeat;
  padding: 60px 0px;
}
.overview__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.list {
  background-color: #ffffff;
  width: 28%;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  padding: 60px 0px;
  margin-bottom: 30px;
}
.list__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.list__sub {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}
.list__text {
  max-width: 280px;
  text-align: left;
  margin: auto;
}
.bottom__wrapper {
  text-align: center;
  margin-top: 120px;
}
.bottom__wrapper-title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3.2px;
}
.bottom__wrapper-text {
  font-size: 18px;
  margin-bottom: 40px;
}
.bottom__wrapper-btn {
  max-width: 860px;
  font-size: 28px;
  font-weight: bold;
  margin: auto;
}
.bottom__wrapper__btn {
  padding: 25px 293px;
  text-decoration: none;
  color: #fffffc;
  background-color: #ff2a2a;
  border-radius: 40px;
  transition: 0.2s;
  &:hover {
    font-weight: bold;
    border: 3px solid #ff2a2a;
    color: #ff2a2a;
    background-color: #fffffc;
  }
}
.footer {
  margin-top: 120px;
  background-color: #e8e8e8;
}
.footer__list {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
}
.footer__list-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1.6px;
}
.footer__list-item {
  margin-right: 146px;
  li {
    margin-bottom: 3px;
    padding-left: 10px;
  }
}
.footer__logo {
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
